.container {
	width: 100%; /*Set the width of the entire website here */
	margin-right: auto;
	margin-left: auto; /* Margin-left and right are set to auto to center the container */
}
.seven:first-child,.delapan:first-child, .nine:first-child, .ten:first-child,.eleven:first-child,.five:first-child, .four:first-child, .threee:first-child, .two:first-child, .one:first-child, .six:first-child { 
	margin-left: 0; /* This line of code makes the left-most column align to the left of the screen */
}
.eleven {
	width: 91.5%;
	float: left;
	margin-left: 2%;
}
.ten {
	width: 83%;
	float: left;
	margin-left: 2%;
}
.nine {
	width: 74.5%;
	float: left;
	margin-left: 2%;
}
.delapan {
	width: 66%;
	float: left;
	margin-left: 2%;
}
.seven {
	width: 57.5%;
	float: left;
	margin-left: 2%;
}
.six {
	width: 49%; /* This div spans six columns (the entire row)*/
	float: left;
	margin-left: 2%;
}
.five {
	width: 40.5%; /* This div spans five columns */
	margin-left: 2%;
	float:left;
}
.four {
	width: 32%;
	float:left;
	margin-left: 2%;
}
.three {
	width: 23.5%;
	float:left;
	margin-left: 2%;
}
.two {
	width: 15%;
	float:left;
	margin-left: 2%;

}
.one {
	width: 6.5%;
	float:left;
	margin-left: 2%;
}
.row {
	width: 100%;
	clear: both; /* Clear creates new styles for the next row */
	padding: 0px;
	margin: 0px;
	height : auto
}

/*INI BAGIAN LAYOUT*/

body{
	background : #212121;
	padding : 0;
}

.titleBar {
	width : 100%;
	background-color : #ffffff;
	height : 110px;
}

.titleBar .four{
	background : url(logoWEB.png);
	height : max-height;
}

p{
	font-family : ubuntu;
	text-align : justify;
	text-indent : 10px;
	color : #ffffff;
}

nav{
	background-color : #d32f2fff;
	height : 40px;
}

nav li{
	display : inline-block;
	text-align : left;
	padding-top : 1vmin;
	padding-bottom : 1vmin;
	padding-left : 2vw;
	padding-right : 2vw;
}
nav li a{
	text-decoration : none;
	color : #ffffff;
	font-family : calibri;
	padding-top : 2vmin;
	font-size : 3vmin;
}

nav li a:hover{
	background : #f33336ff;
	height : 40px;
	padding : none;
	margin : none;
}

.current{
	background : #212121;
	height : 40px;
	padding : none;
	margin : none;
}

.content-titleBar{
	background-color : #f44336ff;
	height : 10vmin;
}

.content-titleBar h2{
	color : #ffffff;
	font-family : calibri;
	text-align : left;
	font-size : 2.5vw;
	padding : 2vmin;
}

.ten h1{
	text-align : left;
	margin-left : 5vw;
	font-family : ubuntu;
	font-size : 2.5vw;
	color : #212121;
	border-bottom : 2px dotted gray;
	
}
.bordertop { 
	border-bottom : 2px dotted gray;
	width : 50%;
}
.borderbottom { 
	border-top : 2px dotted gray;
	width : 50%;
}
.ten li{
	list-style-type : none;
	margin-left : 5vw;
}

.ten li a{
	text-decoration : none;
	font-family : ubuntu;
	font-size : 1.5vw;
	color : #212121;
	text-align : left;
	padding-bottom : 1vmin;
	padding-left : 1vw;
	padding-right : 2vw;
}

.ten a:hover{
	background-color : #f44336ff;
}

.content .eleven{
	width : 96%;
	height : 100vmax;
	background : #bdbdbd;
	margin-left : 2%;
	margin-right : 2%;
	margin-top : 2%;
	
}

footer{
	text-align : right;
	background-color : #d32f2fff;
	font-family : ubuntu;
	height : 30px;
}

footer h2{
	padding-top : 5px;
	padding-right : 10px;
	font-size : 10pt;
	font-style : regular;
	color : #ffffff;
}

/*AKHIR BAGIAN LAYOUT*/

/*STYLE UNTUK CONTENT*/
